* {
  box-sizing: content-box;
}

p {
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  overflow: hidden;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: grid;
  padding: 10px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: auto;
  margin-bottom: 1em;

  &--reload_image {
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 0 20px;
    border: 1px solid black;
    border-radius: 5px;
    color: #000000;
    justify-self: center;
    position: relative;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0 0 3px 0 #aaa inset, 0 0 0 #aaa;
    display: flex;
    align-items: center;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../img/refresh.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      animation: rotate 10s linear infinite;
    }


    &:hover {
      cursor: pointer;
      animation: boxShadow 1.5s linear infinite;
      transform: scale(1.01);
    }

    &:active {
      cursor: pointer;
      box-shadow: 0 0 20px 0 #cbca1d;
      transform: scale(0.95);
    }
  }

  &--select {
    width: 45px;
    height: 30px;
    border: 1px solid black;
    grid-column: 3/4;
    font-size: 12px;
    justify-self: self-end;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0 0 3px 1px #aaa inset, 0 0 0 #aaa;
    color: #ffffff;

    &:hover {
      cursor: pointer;
      animation: boxShadow 1.5s linear infinite;

    }

    &:active {
      cursor: pointer;
      box-shadow: 0 0 20px 0 #cbca1d;
    }
  }

  &--switch {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    color: #ffffff;
    justify-self: center;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0 0 3px 1px #aaa inset, 0 0 0 #aaa;

    &:hover {
      cursor: pointer;
      animation: boxShadow 1.5s linear infinite;
      transform: scale(1.01);
    }

    &:active {
      cursor: pointer;
      box-shadow: 0 0 20px 0 #cbca1d;
      transform: scale(0.95);
    }
  }

  &--homeland {
    width: 40px;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #aaa inset, 0 0 0 #aaa;
    background: rgba(0, 0, 0, 0.6) url("../img/homeland.png") no-repeat 50% 50%;
    background-size: 10px;
    grid-column: 1/2;
    justify-self: center;

    &:hover {
      cursor: pointer;
      animation: boxShadow 1.5s linear infinite;
      transform: scale(1.01);
    }

    &:active {
      cursor: pointer;
      box-shadow: 0 0 20px 0 #cbca1d;
      transform: scale(0.95);
    }
  }

  &--search {
    grid-column: 2/4;
    display: flex;
    justify-content: flex-end;

    &-input {
      border: 1px solid black;
      border-bottom: 1px solid #808080;
      width: 200px;
      height: 30px;
      margin: 0;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 0;
      box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.71);
      padding: 0 0 0 10px;

      &:hover {
        cursor: pointer;
        animation: boxShadow 1.5s linear infinite;
      }

      &:active {
        cursor: pointer;
        box-shadow: 0 0 20px 0 #cbca1d;
      }

      &:focus {
        animation: boxShadow 1.5s linear infinite;
      }

      &::placeholder {
        color: white;
      }
    }

    &-button {
      width: 80px;
      color: #ffffff;
      border: 1px solid black;
      border-radius: 0 5px 5px 0;
      background: rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 3px 1px #aaa inset, 0 0 0 #aaa;

      &:hover {
        cursor: pointer;
        animation: boxShadow 1.5s linear infinite;
        transform: scale(1.01);
      }

      &:active {
        cursor: pointer;
        box-shadow: 0 0 20px 0 #cbca1d;
        transform: scale(0.95);
      }
    }

    &-button_voice {
      width: 80px;
      color: #ffffff;
      border: 1px solid black;
      border-radius: 5px 0 0 5px;
      background: rgba(0, 0, 0, 0.6) url("../img/microphone.png") no-repeat 50% 50%;
      background-size: 10px;
      box-shadow: 0 0 3px 1px #aaa inset, 0 0 0 #aaa;

      &:hover {
        cursor: pointer;
        animation: boxShadow 1.5s linear infinite;
        transform: scale(1.01);
      }

      &:active {
        cursor: pointer;
        box-shadow: 0 0 20px 0 #cbca1d;
        transform: scale(0.95);
      }

    }
  }

}

.main {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.weather_today {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: min-content;
  margin: 0 0 10px 0;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.71), 0 0 10px 0 rgba(255, 255, 255, .71);

  &--town {
    grid-column: 1/3;
    font-size: 2em;
    font-weight: bold;
    justify-self: center;
    padding: 10px;
    color: #ffffff;
  }

  &--date {
    grid-column: 1/2;
    font-size: 1em;
    padding: 10px;
    justify-self: center;
    align-self: center;
    color: #ffffff;
  }

  &--time {
    justify-self: center;
    align-self: center;
    padding: 10px;
    color: #ffffff;

  }

  &--temperature {
    grid-row: 3/4;
    font-size: 7.5em;
    justify-self: self-end;
    color: #ffffff;
    text-shadow: 0 0 10px #000000;
    animation: bigLetter 10s linear infinite;
  }

  &--icon {
    width: 70px;
    height: 70px;
    //background-image: url(../img/weather/weather/sleet.png);
    background-size: cover;
    margin: 13px 0 0 14px;
  }

  &--recommendation, &--option {
    grid-column: 1/3;
    color: #ffffff;
    justify-self: center;
    font-size: 1em;
    padding: 5px;
  }

  &--recommendation {
    text-align: center;
  }

  &--option {
    width: 90%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 0.8em;
    margin-bottom: 10px;
  }

}

.weather_future {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
  margin-bottom: 2em;


  &--tomorrow, &--after_tomorrow, &--after_after_tomorrow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 1), 0 0 10px 0 rgba(255, 255, 255, .71);
    padding: 5px;
    list-style: none;

    &-day {
      color: #ffffff;
      justify-self: center;
      grid-column: 1/3;
      margin-bottom: 0.5em;
      font-size: 0.8em;
    }

    &-summary {
      color: #ffffff;
      justify-self: center;
      grid-column: 1/3;
      font-size: 0.4em;
    }

    &-temperature {
      color: #ffffff;
      grid-column: 1/2;
      font-size: 1.3em;
      justify-self: center;
    }

    &-icon {
      grid-column: 2/3;
      width: 100%;
      justify-self: center;
      //background-image: url(../img/weather/weather/rain.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.71), 0 0 10px 0 rgba(255, 255, 255, .71);
  padding: 8px;

  #map {

    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  &--cord-lat, &--cord-lon, &--cord-text {
    align-self: flex-end;
    color: #ffffff;
    line-height: 150%;
  }
}

@media (min-width: 450px) {
  .header {
    width: 450px;
  }
  .main {
    width: 450px;
  }
}

@media (min-width: 960px) {
  .app {
    height: 100vh;
  }
  .header {
    width: 950px;

    &--reload_image {
      width: 50px;
      height: 50px;
    }

    &--switch {
      width: 50px;
      height: 50px;
      background: rgba(0, 0, 0, .6);
      border-color: black;
      color: #ffffff;
      font-size: 1.2em;
    }
  }
  .main {
    width: 950px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    .weather_today {
      margin: 0;

      &--town {
        font-size: 2.8em;
        align-self: center;
        line-height: 100%;
      }

      &--date, &--time {
        font-size: 1.5em;
      }

      &--temperature {
        font-size: 6em;
      }

      &--option {
        font-size: 1em;
      }

    }

    .weather_future {
      grid-column: 1/3;

      &--tomorrow, &--after_tomorrow, &--after_after_tomorrow {
        width: 300px;
        height: 220px;
        list-style: none;

        &-day {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          font-size: 1em;
          height: 100%;
          width: 100%;
          margin: 0;
        }

        &-temperature {
          font-size: 3em;
        }

        &-icon {

        }
      }
    }

    .map {
      grid-column: 2/3;
      grid-row: 1/2;
      height: 400px;
    }

  }
}

.photo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  //animation: background 90s linear infinite;
  overflow: hidden;
}

@keyframes background {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: 0 0 0 0 #8f8e8e;
  }
  50% {
    box-shadow: 0 0 15px 0 #cbcaca;
  }
  100% {
    box-shadow: 0 0 0 0 #8f8e8e;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  45% {
    transform: scale(1);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bigLetter {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }

}

