.canvas, .app_body .main, body {
  display: grid;
}

.div_message, .canvas--grayscale, .canvas--load, .app_body .resolution--button, .app_body .resolution, .app_body .color .chose_color--elem, .app_body .main .tools--buttons-elem, .app_body .main .tools--buttons, .app_body .main .tools, .app_body .header {
  display: flex;
}

.canvas--grayscale, .canvas--load, .app_body .resolution--button, .app_body .resolution, .app_body .hot_key, .app_body .color, .app_body .main .tools--buttons-elem, .app_body .main .tools {
  width: 228px;
  max-width: 100%;
  height: 246px;
  color: rgba(0, 0, 0, 0.541327);
  margin-left: 29px;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}

* {
  box-sizing: content-box;
}

html {
  font-size: 16px;
}

body {
  justify-items: center;
}

.app_body {
  width: 1440px;
  max-width: 100%;
  min-width: 600px;
  min-height: 750px;
  border: 1px solid #e6e6e6;
}
.app_body .header {
  justify-content: flex-start;
  width: 100%;
  min-height: 48px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.app_body .header--burger_menu {
  margin: 0.9rem;
  position: relative;
  padding-left: 1.25rem;
}
.app_body .header--burger_menu:hover {
  cursor: pointer;
}
.app_body .header--burger_menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}
.app_body .header--h1 {
  margin: 0.9rem;
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4375rem;
}
.app_body .header--three_point {
  margin: 0.9rem;
  font-size: 1.3rem;
  writing-mode: vertical-rl;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.app_body .header--three_point:hover {
  cursor: pointer;
}
.app_body .main {
  grid-row: 1/2;
  grid-template: 50% 50%/20% 60% 20%;
  align-items: center;
  width: 100%;
}
.app_body .main .tools {
  grid-column: 1/2;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.app_body .main .tools--buttons {
  width: 100%;
  justify-content: center;
}
.app_body .main .tools--buttons-elem {
  height: 40px;
  font-family: "Roboto", sans-serif;
  justify-content: flex-start;
  width: 80%;
  margin: 0;
  font-size: 1.1rem;
  user-select: none;
  outline: none;
}
.app_body .main .tools--buttons-elem img {
  margin: 0 10px 0 20px;
  width: 20px;
  height: auto;
}
.app_body .main .tools--buttons-elem:hover {
  background-color: rgba(210, 210, 180, 0.5);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.app_body .main .tools--buttons-elem:active {
  background-color: rgba(210, 210, 120, 0.8);
  -webkit-box-shadow: 0 7px 10px rgba(0, 17, 40, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 10px rgba(0, 17, 40, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
}
.app_body .main .tools--buttons-elem:focus {
  background-color: rgba(210, 210, 160, 0.6);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.app_body .color {
  grid-row: 2/3;
  font-family: "Roboto", sans-serif;
}
.app_body .color .chose_color {
  width: 100%;
  margin: 20px;
}
.app_body .color .chose_color--elem {
  height: 40px;
  font-family: "Roboto", sans-serif;
  justify-content: flex-start;
  width: 80%;
  font-size: 1.1rem;
  user-select: none;
  outline: none;
  margin-bottom: 10px;
}
.app_body .color .chose_color--elem:hover {
  cursor: pointer;
  background-color: rgba(210, 210, 180, 0.5);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.app_body .color .chose_color--elem-circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-right: 10px;
}
.app_body .hot_key {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin: 0;
}
.app_body .hot_key h2 {
  font-size: 1.5rem;
}
.app_body .hot_key--text {
  margin: 0;
  padding: 2px;
}
.app_body .resolution {
  font-family: "Roboto", sans-serif;
  grid-column: 3/4;
  grid-row: 2/3;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.app_body .resolution--button {
  height: 40px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  width: 80%;
  margin: 0;
  font-size: 1.1rem;
  user-select: none;
  outline: none;
}
.app_body .resolution--button:hover {
  background-color: rgba(210, 210, 180, 0.5);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.app_body .resolution--button:active {
  background-color: rgba(210, 210, 120, 0.8);
  -webkit-box-shadow: 0 7px 10px rgba(0, 17, 40, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 10px rgba(0, 17, 40, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
}
.app_body .resolution--button:focus {
  background-color: rgba(210, 210, 160, 0.6);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}

#red {
  background-color: #F74141;
}

#blue {
  background-color: #0000ff;
}

.canvas {
  grid-column: 2/3;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto;
}
.canvas--load {
  font-family: "Roboto", sans-serif;
  height: 25px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  width: 80%;
  font-size: 1.1rem;
  user-select: none;
  outline: none;
  grid-column: 3/4;
  margin: 0 20px 30px 0;
}
.canvas--load:hover {
  background-color: rgba(210, 210, 180, 0.5);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.canvas--load:active {
  background-color: rgba(210, 210, 120, 0.8);
  -webkit-box-shadow: 0 7px 10px rgba(0, 17, 40, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 10px rgba(0, 17, 40, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
}
.canvas--load:focus {
  background-color: rgba(210, 210, 160, 0.6);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.canvas--input {
  font-family: "Roboto", sans-serif;
  justify-self: center;
  width: 80%;
  padding: 0 20px;
  grid-column: 2/3;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 17, 40, 0.24);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.canvas--input::placeholder {
  font-family: "Roboto", sans-serif;
}
.canvas--grayscale {
  font-family: "Roboto", sans-serif;
  height: 25px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  width: 80%;
  font-size: 1.1rem;
  user-select: none;
  outline: none;
  grid-column: 1/2;
  margin: 0 0 30px;
}
.canvas--grayscale:hover {
  background-color: rgba(210, 210, 180, 0.5);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.canvas--grayscale:active {
  background-color: rgba(210, 210, 120, 0.8);
  -webkit-box-shadow: 0 7px 10px rgba(0, 17, 40, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 10px rgba(0, 17, 40, 0.24), 0 0 8px rgba(0, 0, 0, 0.12);
}
.canvas--grayscale:focus {
  background-color: rgba(210, 210, 160, 0.6);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}
.canvas--canvas {
  grid-column: 1/4;
  margin-bottom: 10px;
}

#canvas {
  border: 1px dashed black;
  image-rendering: pixelated;
}

.stub {
  height: 40px;
}

.div_message {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.alert {
  border: 1px red solid;
  background-color: #ffaba3;
  box-shadow: 0 5px 7px rgba(255, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  color: #540303;
}

.message {
  border: 1px solid #00ff00;
  background-color: #c7ffc2;
  color: #0d0b86;
  box-shadow: 0 5px 7px rgba(0, 255, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}

.hidden {
  opacity: 0;
}

.active {
  background-color: rgba(210, 210, 160, 0.6);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}

/*# sourceMappingURL=style.css.map */
